In [1]:
#===============================================================================
# Import libraries
#===============================================================================
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
df = pd.read_csv('./dataset/players_without_nan.csv')

In [34]:
df['player'] = df['player'].factorize(sort=True)[0]
df['club'] = df['club'].factorize(sort=True)[0]
df['leagueCountry'] = df['leagueCountry'].factorize(sort=True)[0]
df['position'] = df['position'].factorize(sort=True)[0]
df['skintone'] = df['skintone'].apply(lambda x: 0 if x >= 0.5 else 1)
useless_cols = ['playerShort', 'birthday', 'photoID', 'rater1', 'rater2', 'Alpha_3', 'refCount']
df.drop(useless_cols, axis=1, inplace=True)
df.head()

,player,club,leagueCountry,height,weight,position,games,victories,ties,defeats,...,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp,allreds,skintone,birthday_year
0,1032,69,3,177.0,72.0,1,1,0,0,1,...,1,0.326391,712.0,0.000564,0.396000,750.0,0.002696,0,1,1983
1,907,50,1,179.0,82.0,12,1,0,0,1,...,2,0.203375,40.0,0.010875,-0.204082,49.0,0.061504,0,0,1982
2,390,33,0,182.0,71.0,2,1,0,0,1,...,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0,1,1979
3,421,47,0,187.0,80.0,7,1,1,0,0,...,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0,1,1985
4,436,53,0,180.0,68.0,5,1,0,0,1,...,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752,0,0,1986

player             int32
club               int32
leagueCountry      int32
height           float64
weight           float64
position           int32
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
refNum             int64
refCountry         int64
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
allreds            int64
skintone           int64
birthday_year      int64
dtype: object

In [27]:
len(df['Alpha_3'].unique())

155